<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <div class="product-item-content">
    <h2>
      <%= product.title %>
    </h2>

    <h5>
      <%= product.availability %>
    </h5>

    
    <div class="product-item-actions">
      <% if (locals.isAdmin) { %>
        <a class="btn" href="/admin/products/<%= product.id %>">View & Edit</a>
        <button class="btn" data-productid="<%= product.id %>">
          Delete
        </button>
        <% } else { %>
          <a class="btn" href="/products/<%= product.id %>">View Details</a>
          <% } %>
    </div>
  </div>
</article>