<article class="product-item">
  <img src="<%= book.imageUrl %>" alt="<%= book.title %>" />
  <div class="product-item-content">
    <h2>
      <%= book.title %>
    </h2>

    <h5>
      <%= book.availability %>
    </h5>

    
    <div class="product-item-actions">
      <% if (locals.isAdmin) { %>
        <a class="btn" href="/admin/products/<%= book.id %>">View & Edit</a>
        <button class="btn" data-bookid="<%= book.id %>">
          Delete
        </button>
        <% } else { %>
          <a class="btn" href="/products/<%= book.id %>">View Details</a>
          <% } %>
    </div>
  </div>
</article>