<article class="order-item">
  <header class="order-summary">
    <h2><%= order.product.title %> - <%= order.formattedDate %></h2>
    <p><span class="badge"><%= order.status.toUpperCase() %></span></p>
  </header>

  <section class="order-details">
    <% if (locals.isAdmin) { %>
      <address>
        <p><a href="mailto:<%= order.userData.email %>"><%= order.userData.name %></a></p>
      </address>
    <% } %>

  </section>

  <% if (locals.isAdmin) { %>
    <section class="order-actions">
      <form>
        <input type="hidden" name="orderid" value="<%= order.id %>">
        <select name="status">
          <option value="Approved" <% if (order.status === 'Approved') { %>selected<% } %>>Approved</option>
          <option value="Returned" <% if (order.status === 'Returned') { %>selected<% } %>>Return Book</option>
          <option value="Rejected" <% if (order.status === 'Rejected') { %>selected<% } %>>Reject Loan Request</option>
        </select>
        <button class="btn btn-alt">Update</button>
      </form>
    </section>
  <% } %>
</article>