<%- include('../includes/head', { pageTitle: product.title }) %>
  <link rel="stylesheet" href="/styles/products.css">
  </head>

  <body>
    <%- include('../includes/header') %>
      <main id="product-details">
        <header>
          <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
          <div id="product-info">
            <h1>
              <%= product.title %>
            </h1>
            <p><%= product.availability %>
            </p>

            <% if (product.availability === 'Unavailable - currently on Loan') { %>
              <h3>This book is currently on loan!</h3>
              <% } else { %>
                <form action="/orders" method="POST">
                  <button class="btn" name = "id" value = "<%= product.id %>">Loan Book</button>
                </form>

            <% } %>


          </div>
        </header>

        <p id="product-description">
          <%= product.description %>
        </p>
      </main>
  </body>

  </html>